[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
pillow = "*"
cfpq-data = "==2.0.0"
pyformlang = "*"
pygraphblas = "*"

[dev-packages]
pre-commit = "*"
black = "*"

[requires]
python_version = "3.8"
